Repository onesteinbv/curq-docs: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-file-names, detect-empty-files, check-rst, check-brand-names, check-media-directory

check-file-names:
  name: Check file names
  language: python
  entry: python pre_commit_hooks/check_file_names.py

detect-empty-files:
  name: Detect empty files
  language: python
  entry: python pre_commit_hooks/detect_empty_files.py

check-rst:
  name: Lint reStructuredText files
  language: python
  entry: rstcheck
  additional_dependencies:
  - rstcheck==6.2.4
  - rstcheck[sphinx]==6.2.4
  args:
  - --report-level
  - WARNING

check-brand-names:
  name: Check brand names
  language: python
  entry: python pre_commit_hooks/check_brand_names.py
  args:
  - -b
  - CURQ,GitHub

check-media-directory:
  name: Check all media is in media directory
  language: python
  entry: python pre_commit_hooks/check_media_directory.py

Add po files to brandname check
  .pre-commit-config.yaml
  locale/en/LC_MESSAGES/index.po
  pre_commit_hooks/check_brand_names.py
Due: none

Add .jpeg files to media directory check
  pre_commit_hooks/check_media_directory.py
Due: none

Remove empty files
  docs/boekhouding/rapportages/rapportages-management.rst
  docs/dashboards/spreadsheets.rst
  docs/voorraad/index.rst
  docs/website/index.rst
  docs/website/website-introductie.rst
Due: check-file-names, detect-empty-files, check-rst, check-brand-names

Fix brand name check to exclude domain names
  pre_commit_hooks/check_brand_names.py
Due: none

Fix linting issues
  docs/algemeen/gebruikers.rst
  docs/boekhouding/bankrekeningen/bankrekeningen-myponto.rst
  docs/boekhouding/beginnen-met-boekhouden/boekhouding-basisbegrippen.rst
  docs/boekhouding/beginnen-met-boekhouden/boekhouding-starten-dagboeken.rst
  docs/declaraties/declaraties.rst
  docs/marketing/emailmarketing.rst
  docs/voorraad/product-configuratie.rst
Due: check-file-names, detect-empty-files, check-rst, check-brand-names

Fix toctree issues
  docs/agenda/agenda.rst
  docs/boekhouding/bankrekeningen/bankrekeningen-afletteren.rst
  docs/boekhouding/belastingen/belastingen.rst
  docs/boekhouding/betalingen/betalingen-online-betalingen-mollie.rst
  docs/boekhouding/betalingen/betalingen-sepa.rst
  docs/boekhouding/leveranciersfacturen-preview.rst
  docs/crm/offerte-maken-vanuit-een-verkoopkans.rst
  docs/emailmarketing/externespamfiltering.rst
  docs/leden/introductie.rst
  docs/spreadsheets/index.rst
  docs/verkoop/facturatie-methode.rst
  docs/voorraad/voorraad-bewerkingen-verplaatsingen.rst
  docs/website/index.rst
  docs/website/website-introductie.rst
  index.rst
Due: check-file-names, detect-empty-files, check-rst, check-brand-names

Add doc8 pre-commit check
  .pre-commit-config.yaml
  docs/boekhouding/betalingen/betalingen-online-betalingen-mollie.rst
  docs/boekhouding/betalingen/media/online-betalen-mollie-factuur-backend.png
Due: check-file-names, detect-empty-files, check-rst, check-brand-names, check-media-directory

Fix broken urls
  docs/boekhouding/belastingen/belastingen-vies.rst
  docs/leden/registratie-pagina.rst
  docs/website/webdomein-instellen.rst
Due: check-file-names, detect-empty-files, check-rst, check-brand-names

Fix doctree
  docs/algemeen/export-import-data.rst
  docs/algemeen/index.rst
  docs/boekhouding/bankrekeningen/bankrekeningen-afletteren.rst
  docs/boekhouding/boekhouding.rst
  docs/crm/index.rst
  docs/crm/leads-verkoopkansen.rst
  docs/emailmarketing/externe-spam-filtering.rst
  docs/helpdesk/helpdesk-advanced.rst
  docs/helpdesk/helpdesk.rst
  docs/helpdesk/media/helpdesk-advanced001.png
  docs/helpdesk/media/helpdesk-advanced002.png
  docs/helpdesk/media/helpdesk-advanced003.png
  docs/helpdesk/media/helpdesk-advanced004.png
  docs/helpdesk/media/helpdesk-advanced005.png
  docs/helpdesk/media/helpdesk001.png
  docs/helpdesk/media/helpdesk002.png
  docs/inkoop/index.rst
  docs/inkoop/inkoop.rst
  docs/leden/index.rst
  docs/leden/registratie-pagina.rst
  docs/marketing/test
  docs/projecten/index.rst
  docs/projecten/projecten.rst
  docs/spreadsheets/index.rst
  docs/spreadsheets/spreadsheet.rst
  docs/support/index.rst
  docs/support/support-proces.rst
  index.rst
Due: check-file-names, detect-empty-files, check-rst, check-brand-names, check-media-directory

Improve formatting
  index.rst
Due: check-brand-names

Fix doctree
  docs/algemeen/agenda.rst
  docs/algemeen/index.rst
  docs/algemeen/toevoegen-van-een-contact.rst
  docs/algemeen/zoeken-filtreren.rst
  docs/helpdesk/helpdesk-advanced.rst
  docs/helpdesk/helpdesk.rst
Due: check-file-names, detect-empty-files, check-rst, check-brand-names

Fix doctree
  docs/algemeen/index.rst
  docs/algemeen/rapportages.rst
  docs/helpdesk/helpdesk.rst
Due: check-file-names, detect-empty-files, check-rst, check-brand-names

Improve various formatting and doctree issues
  docs/agenda/agenda.rst
  docs/algemeen/discuss.rst
  docs/chat/chat.rst
  docs/emailmarketing/externe-spam-filtering.rst
Due: check-file-names, detect-empty-files, check-rst, check-brand-names

Improve formatting and structure in spreadsheet documentation
  docs/spreadsheets/functions.rst
  docs/spreadsheets/index.rst
Due: check-file-names, detect-empty-files, check-rst, check-brand-names

Fix language-selector css
  static/custom.css
  templates/sidebar/variant-selector.html
Due: none

Spreadsheet
  docs/spreadsheets/spreadsheet.rst
Due: check-file-names, detect-empty-files, check-rst, check-brand-names

Remove old compact po file
  locale/en/LC_MESSAGES/docs.po
Due: none

Fixup makefile to prevent existing build files to persist
  Makefile
Due: none

Release 16.0.13 & .0.14 (WIP)
  docs/release opmerkingen/index.rst
  docs/release opmerkingen/media/ou001.png
  docs/release opmerkingen/media/ou002.png
  docs/release opmerkingen/media/ou003.png
  docs/release opmerkingen/media/ou004.png
  docs/release opmerkingen/media/ou005.png
  docs/release opmerkingen/media/ou006.png
  docs/release opmerkingen/media/ou007.png
  docs/release opmerkingen/media/ou008.png
  docs/release opmerkingen/media/ou009.png
  docs/release opmerkingen/media/ou010.png
  docs/release opmerkingen/media/reservations001.png
  docs/release opmerkingen/media/reservations002.png
  docs/release opmerkingen/media/reservations003.png
  docs/release opmerkingen/media/reservations004.png
  docs/release opmerkingen/media/reservations005.png
  docs/release opmerkingen/media/reservations006.png
  docs/release opmerkingen/media/reservations007.png
  docs/release opmerkingen/media/reservations008.png
  docs/release opmerkingen/media/reservations009.png
  docs/release opmerkingen/media/reservations010.png
  docs/release opmerkingen/v16.0.13.rst
  docs/release opmerkingen/v16.0.14.rst
Due: check-file-names, detect-empty-files, check-rst, check-brand-names, check-media-directory

Create resourcebookings.rst
  docs/resourcebookings/resourcebookings.rst
Due: check-file-names, detect-empty-files, check-rst, check-brand-names

Create test.rst
  docs/resourcebookings/media/test.rst
Due: check-file-names, detect-empty-files, check-rst, check-brand-names

Update resourcebookings.rst
  docs/resourcebookings/resourcebookings.rst
Due: check-file-names, detect-empty-files, check-rst, check-brand-names

Add files via upload
  docs/resourcebookings/media/resourcebookings001.png
  docs/resourcebookings/media/resourcebookings002.png
  docs/resourcebookings/media/resourcebookings003.png
  docs/resourcebookings/media/resourcebookings004.png
  docs/resourcebookings/media/resourcebookings005.png
  docs/resourcebookings/media/resourcebookings006.png
  docs/resourcebookings/media/resourcebookings007.png
  docs/resourcebookings/media/resourcebookings008.png
  docs/resourcebookings/media/resourcebookings009.png
  docs/resourcebookings/media/resourcebookings010.png
Due: check-file-names, check-rst, check-media-directory

Create ecommerce_resourcebokings.rst
  docs/resourcebookings/ecommerce_resourcebokings.rst
Due: check-file-names, detect-empty-files, check-rst, check-brand-names

Update ecommerce_resourcebokings.rst
  docs/resourcebookings/ecommerce_resourcebokings.rst
Due: check-file-names, detect-empty-files, check-rst, check-brand-names

Add files via upload
  docs/resourcebookings/media/ecommerce_resourcebookings001.png
  docs/resourcebookings/media/ecommerce_resourcebookings002.png
  docs/resourcebookings/media/ecommerce_resourcebookings003.png
  docs/resourcebookings/media/ecommerce_resourcebookings004.png
  docs/resourcebookings/media/ecommerce_resourcebookings005.png
  docs/resourcebookings/media/ecommerce_resourcebookings006.png
  docs/resourcebookings/media/ecommerce_resourcebookings007.png
  docs/resourcebookings/media/ecommerce_resourcebookings008.png
  docs/resourcebookings/media/ecommerce_resourcebookings009.png
Due: check-file-names, check-rst, check-media-directory

Create index.rst
  docs/resourcebookings/index.rst
Due: check-file-names, detect-empty-files, check-rst, check-brand-names

Path conditions:
  check-file-names: any of: ^docs\/
  detect-empty-files: any of: ^docs\/.*\.rst$
  check-rst: any of: ^docs\/
  check-brand-names: any of: \.rst$
  check-media-directory: any of: ^docs\/.*(\.png|\.jpg|\.jpeg)$
