Repository onesteinbv/curq-docs: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-file-names, detect-empty-files, check-rst, check-brand-names, check-media-directory

check-file-names:
  name: Check file names
  language: python
  entry: python pre_commit_hooks/check_file_names.py

detect-empty-files:
  name: Detect empty files
  language: python
  entry: python pre_commit_hooks/detect_empty_files.py

check-rst:
  name: Lint reStructuredText files
  language: python
  entry: rstcheck
  additional_dependencies:
  - rstcheck==6.2.4
  - rstcheck[sphinx]==6.2.4
  args:
  - --report-level
  - WARNING

check-brand-names:
  name: Check brand names
  language: python
  entry: python pre_commit_hooks/check_brand_names.py
  args:
  - -b
  - CURQ,GitHub

check-media-directory:
  name: Check all media is in media directory
  language: python
  entry: python pre_commit_hooks/check_media_directory.py

Update index.rst
  docs/resourcebookings/index.rst
Due: check-file-names, detect-empty-files, check-rst, check-brand-names

Update v16.0.14.rst
  docs/release opmerkingen/v16.0.14.rst
Due: check-file-names, detect-empty-files, check-rst, check-brand-names

Update and rename v16.0.14.rst to v16.0.13.1.rst
  docs/release opmerkingen/v16.0.13.1.rst
Due: check-file-names, detect-empty-files, check-rst, check-brand-names

Update and rename v16.0.13.rst to v16.0.14.rst
  docs/release opmerkingen/v16.0.13.rst
  docs/release opmerkingen/v16.0.14.rst
Due: check-file-names, detect-empty-files, check-rst, check-brand-names

Rename v16.0.13.1.rst to 16.0.12 & 16.0.13.rst
  docs/release opmerkingen/16.0.12 & 16.0.13.rst
Due: check-file-names, detect-empty-files, check-rst, check-brand-names

Update index.rst
  docs/release opmerkingen/index.rst
Due: check-file-names, detect-empty-files, check-rst, check-brand-names

Create operatingunit.rst
  docs/operatingunit/operatingunit.rst
Due: check-file-names, detect-empty-files, check-rst, check-brand-names

Create test.rst
  docs/operatingunit/media/test.rst
Due: check-file-names, detect-empty-files, check-rst, check-brand-names

Add files via upload
  docs/operatingunit/media/ou001.png
  docs/operatingunit/media/ou002.png
  docs/operatingunit/media/ou003.png
  docs/operatingunit/media/ou004.png
  docs/operatingunit/media/ou005.png
  docs/operatingunit/media/ou006.png
  docs/operatingunit/media/ou007.png
  docs/operatingunit/media/ou008.png
  docs/operatingunit/media/ou009.png
  docs/operatingunit/media/ou010.png
Due: check-file-names, check-rst, check-media-directory

Delete docs/release opmerkingen/media directory
  docs/release opmerkingen/media/ou001.png
  docs/release opmerkingen/media/ou002.png
  docs/release opmerkingen/media/ou003.png
  docs/release opmerkingen/media/ou004.png
  docs/release opmerkingen/media/ou005.png
  docs/release opmerkingen/media/ou006.png
  docs/release opmerkingen/media/ou007.png
  docs/release opmerkingen/media/ou008.png
  docs/release opmerkingen/media/ou009.png
  docs/release opmerkingen/media/ou010.png
  docs/release opmerkingen/media/reservations001.png
  docs/release opmerkingen/media/reservations002.png
  docs/release opmerkingen/media/reservations003.png
  docs/release opmerkingen/media/reservations004.png
  docs/release opmerkingen/media/reservations005.png
  docs/release opmerkingen/media/reservations006.png
  docs/release opmerkingen/media/reservations007.png
  docs/release opmerkingen/media/reservations008.png
  docs/release opmerkingen/media/reservations009.png
  docs/release opmerkingen/media/reservations010.png
Due: check-file-names, check-rst, check-media-directory

Delete docs/release opmerkingen/v16.0.13.rst
  docs/release opmerkingen/v16.0.13.rst
Due: check-file-names, detect-empty-files, check-rst, check-brand-names

Spreadsheet
  docs/marketing/emailmarketing.rst
  docs/marketing/media/001.png
  docs/marketing/media/002.png
  docs/marketing/media/003.png
  docs/marketing/media/004.png
  docs/marketing/media/005.png
  docs/marketing/media/006.png
  docs/marketing/media/007.png
  docs/marketing/media/008.png
  docs/marketing/media/009.png
  docs/marketing/media/010.png
  docs/marketing/media/011.png
  docs/marketing/media/012.png
  docs/marketing/media/013.png
  docs/marketing/media/014.png
  docs/marketing/media/015.png
  docs/marketing/media/016.png
  docs/marketing/media/017.png
  docs/marketing/media/018.png
  docs/marketing/media/019.png
  docs/marketing/media/020.png
  docs/marketing/media/021.png
  docs/marketing/media/022.png
  docs/marketing/media/023.png
  docs/marketing/media/024.png
  docs/spreadsheets/index.rst
  docs/spreadsheets/spreadsheet.rst
  index.rst
Due: check-file-names, detect-empty-files, check-rst, check-brand-names, check-media-directory

fix transalations and rst markups
  docs/operationeleeenheid/media/ou001.png
  docs/operationeleeenheid/media/ou002.png
  docs/operationeleeenheid/media/ou003.png
  docs/operationeleeenheid/media/ou004.png
  docs/operationeleeenheid/media/ou005.png
  docs/operationeleeenheid/media/ou006.png
  docs/operationeleeenheid/media/ou007.png
  docs/operationeleeenheid/media/ou008.png
  docs/operationeleeenheid/media/ou009.png
  docs/operationeleeenheid/media/ou010.png
  docs/operationeleeenheid/operationeleeenheid.rst
  docs/releaseopmerkingen/index.rst
  docs/releaseopmerkingen/v16.0.12-0.13.rst
  docs/releaseopmerkingen/v16.0.14.rst
  docs/reserveringssysteem/ecommerce-reserveringssysteem.rst
  docs/reserveringssysteem/index.rst
  docs/reserveringssysteem/media/ecommerce-rb001.png
  docs/reserveringssysteem/media/ecommerce-rb002.png
  docs/reserveringssysteem/media/ecommerce-rb003.png
  docs/reserveringssysteem/media/ecommerce-rb004.png
  docs/reserveringssysteem/media/ecommerce-rb005.png
  docs/reserveringssysteem/media/ecommerce-rb006.png
  docs/reserveringssysteem/media/ecommerce-rb007.png
  docs/reserveringssysteem/media/ecommerce-rb008.png
  docs/reserveringssysteem/media/ecommerce-rb009.png
  docs/reserveringssysteem/media/rb001.png
  docs/reserveringssysteem/media/rb002.png
  docs/reserveringssysteem/media/rb003.png
  docs/reserveringssysteem/media/rb004.png
  docs/reserveringssysteem/media/rb005.png
  docs/reserveringssysteem/media/rb006.png
  docs/reserveringssysteem/media/rb007.png
  docs/reserveringssysteem/media/rb008.png
  docs/reserveringssysteem/media/rb009.png
  docs/reserveringssysteem/media/rb010.png
  docs/reserveringssysteem/reserveringssysteem.rst
  index.rst
Due: check-file-names, detect-empty-files, check-rst, check-brand-names, check-media-directory

Resolved conflicts
  index.rst
Due: check-brand-names

Move Email-marketing and Big-Tech Spamfiltering documentation (#8)
  docs/operationeleeenheid/media/ou001.png
  docs/operationeleeenheid/media/ou002.png
  docs/operationeleeenheid/media/ou003.png
  docs/operationeleeenheid/media/ou004.png
  docs/operationeleeenheid/media/ou005.png
  docs/operationeleeenheid/media/ou006.png
  docs/operationeleeenheid/media/ou007.png
  docs/operationeleeenheid/media/ou008.png
  docs/operationeleeenheid/media/ou009.png
  docs/operationeleeenheid/media/ou010.png
  docs/operationeleeenheid/operationeleeenheid.rst
  docs/reserveringssysteem/ecommerce-reserveringssysteem.rst
  docs/reserveringssysteem/index.rst
  docs/reserveringssysteem/media/ecommerce-rb001.png
  docs/reserveringssysteem/media/ecommerce-rb002.png
  docs/reserveringssysteem/media/ecommerce-rb003.png
  docs/reserveringssysteem/media/ecommerce-rb004.png
  docs/reserveringssysteem/media/ecommerce-rb005.png
  docs/reserveringssysteem/media/ecommerce-rb006.png
  docs/reserveringssysteem/media/ecommerce-rb007.png
  docs/reserveringssysteem/media/ecommerce-rb008.png
  docs/reserveringssysteem/media/ecommerce-rb009.png
  docs/reserveringssysteem/media/rb001.png
  docs/reserveringssysteem/media/rb002.png
  docs/reserveringssysteem/media/rb003.png
  docs/reserveringssysteem/media/rb004.png
  docs/reserveringssysteem/media/rb005.png
  docs/reserveringssysteem/media/rb006.png
  docs/reserveringssysteem/media/rb007.png
  docs/reserveringssysteem/media/rb008.png
  docs/reserveringssysteem/media/rb009.png
  docs/reserveringssysteem/media/rb010.png
  docs/reserveringssysteem/reserveringssysteem.rst
  index.rst
Due: check-file-names, detect-empty-files, check-rst, check-brand-names, check-media-directory

Add source host
  conf.py
Due: none

Add multi-version support
  Makefile
  conf.py
  requirements.txt
  static/custom.css
  templates/sidebar/variant-selector.html
Due: none

Add multi-version support
  .github/workflows/ci.yaml
  Dockerfile
Due: none

Add branch whitelist
  conf.py
Due: none

Initial commit
  .github/workflows/ci.yaml
  .gitignore
  Dockerfile
  requirements.txt
Due: none

Move dockerfile to main branch
  .github/workflows/ci.yaml
  .github/workflows/integrity.yaml
  .github/workflows/pre-commit.yaml
  Dockerfile
Due: none

Add specific make target for runboat
  Makefile
Due: none

Path conditions:
  check-file-names: any of: ^docs\/
  detect-empty-files: any of: ^docs\/.*\.rst$
  check-rst: any of: ^docs\/
  check-brand-names: any of: \.rst$
  check-media-directory: any of: ^docs\/.*(\.png|\.jpg|\.jpeg)$
